@import "variables.css";

@import "navbar.css";
@import "footer.css";

@import "about.css";

html {
  font-size: 16px;
  background-color: var(--color-primary);
  color: var(--text-color);
  font-family: var(--font-family-text);
}

body {
  margin: 0;
  padding: 0;
}

.root {
  margin: 0 auto;
}

.underline {
  border-bottom: 1px solid var(--color-secondary);
  margin-bottom: 1rem;
}

main {
  margin: -2% 2% 0% 2%;
  border: 5px solid rgba(204, 175, 104, 0.2);
  border-top: none;
  border-radius: 12px;
  min-height: 95vh;
}
